<h1>this is sign up page</h1>

<form action = "/signup" method="post">
    <input type = "text" name = "username" placeholder = "username">
    <input type = "password" name = "password" placeholder = "password">
    <input type = "submit">
    <a href="login">login</a>
</form>